.root{
    -fx-font-family: 'JetBrains Mono';
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-background-image: url("bbm.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
}